.header {
  max-width: 1440px;
  display: flex;
  top: 0;
  width: 100%;
  padding: 15px 40px 15px 20px;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  background-color: #f7f8fa;
  position: fixed;
  align-items: center;
  flex-shrink: 0;
  z-index: 10;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.menuIcon {
  width: 24px;
  height: 24px;
  fill: #1d1e21;
}

.logoImg {
  margin-right: 60px;
  width: 44px;
  height: 44px;
}

.logotxt {
  color: #1d1e21;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  margin-top: 4px;
  color: #1d1e2166;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
}

.navLink:hover {
  color: #3f945f;
}

.active {
  color: red;
}

.userAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 8px;
}

.icon {
  width: 16px;
  height: 16px;
}

.logoutUserButton {
  display: flex;
  align-items: center;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: rgba(25, 26, 21, 1);
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  background-color: rgba(89, 177, 122, 1);
}

.logoutUserButton:hover {
  background-color: rgba(63, 148, 95, 1); /* Задаем цвет фона при наведении */
}

.logoutUserButton:active {
  background-color: rgba(63, 148, 95, 1);
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  /* .nav {
    display: none;
  } */

  .header {
    padding: 15px 20px;
  }

  .logoImg {
    margin-right: 20px;
  }
}
