.header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  background-color: #f7f8fa;
  position: fixed;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  padding: 15px 20px;
}

.menuButton {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.menuIcon {
  width: 32px;
  height: 32px;
}

.logoImg {
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

.logotxt {
  color: #1d1e21;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  margin-top: 4px;
  color: #1d1e2166;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0em;
}

.navLink:hover {
  color: #3f945f;
}

.active {
  color: red;
}

.userAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 8px;
}

.icon {
  width: 16px;
  height: 16px;
}

.logoutUserButton {
  display: flex;
  align-items: center;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  color: rgba(25, 26, 21, 1);
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  background-color: rgba(89, 177, 122, 1);
}

.logoutUserButton:hover {
  background-color: rgba(63, 148, 95, 1);
}

.logoutUserButton:active {
  background-color: rgba(63, 148, 95, 1);
}

/* Mobile */
@media screen and (min-width: 375px) {
  .header {
    width: 375px;
    padding: 15px 20px;
  }

  .logoImg {
    margin-right: 20px;
    width: 32px;
    height: 32px;
  }

  .logotxt {
    font-size: 20px;
    line-height: 24px;
  }

  .menuButton {
    margin-right: 20px;
  }

  .menuIcon {
    width: 32px;
    height: 32px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .logoImg {
    margin-right: 32px;
    width: 32px;
    height: 32px;
  }

  .header {
    width: 768px;
    padding: 15px 32px;
  }

  .menuButton {
    margin-right: 16px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .header {
    width: 1024px;
    padding: 15px 40px 15px 20px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
    padding: 15px 40px 15px 20px;
  }

  .logoImg {
    margin-right: 60px;
    width: 44px;
    height: 44px;
  }

  .logotxt {
    font-size: 24px;
    line-height: 28px;
  }
}

/* @media (max-width: 320px) {
    .header {
    padding: 17px 20px;
  }

} */
