.sidebar {
  background-color: #f7f8fa;
  height: calc(100vh - 80px); /* Высота минус высота хедера */
  width: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 18px;

  /* border-top: 1px solid rgba(29, 30, 33, 0.1); */

  border-right: 1px solid rgba(29, 30, 33, 0.1);
  border-bottom: 0px solid rgba(29, 30, 33, 0.1);
  border-left: 0px solid rgba(29, 30, 33, 0.1);

  position: fixed;
  top: 80px;
  left: 0;
  transform: translateX(-100%);
  z-index: 10;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

/* .menu {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff; /* Белый фон кнопки */
  margin: 14px 0;
  box-shadow: 0px -1px 7px 0px rgba(71, 71, 71, 0.05);

  transition: background 0.3s ease;
}

.icon {
  fill: rgba(220, 221, 223, 1);
  width: 16px;
  height: 16px;
  transition: color 0.3s ease;
}

.menuItem.active,
.menuItem:hover {
  background-color: #e8e8e8; /* Светло-серый фон активной кнопки */
}

.menuItem.active .icon,
.menuItem:hover .icon {
  fill: #2c8f4b; /* Зеленый цвет активной иконки */
}

/* Mobile */
@media screen and (min-width: 375px) {
  .sidebar {
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .sidebar {
    left: 50%;
    transform: translateX(calc(-50% - 344px));
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .sidebar {
    transform: translateX(calc(-50% - 472px));
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .sidebar {
    transform: translateX(calc(-50% - 680px));
  }
}
