/* Общий контейнер */
@use '../styles/mixins' as *;

.customersPage {
  margin: 80px 0 0 0;
  @include media($laptop) {
    margin: 0 0 0 20px;
  }

  @include media($desktop) {
    margin: 0 0 0 20px;
  }
}

/* Фильтр */
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 16px;
  
  @include media($tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .searchWrapper {
    display: flex;

    @include media($laptop) {
      width: auto;
    }
  }

  .openModalButton {
    justify-content: center;
    border: 1px solid #59B17A80;
    background: transparent;
    color: #1D1E21;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 13px 30px;
    border-radius: 60px;
    cursor: pointer;
    
    @include media($tablet) {
      margin-left: auto;
    }

    &:hover {
      background-color: rgba(63, 148, 95, 1);
      color: white;
    }
  }
}

.filterInput {
  padding: 0px 18px;
  margin-right: 8px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 215px;
  height: 44px;
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
  font-size: 12px;
  line-height: 44px;
  
  &::placeholder {
    color: rgba(29, 30, 33, 0.4);
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &:focus {
    outline: none;
    border-color: rgba(89, 177, 122, 1);
  }

  @include media($laptop) {
    width: auto;
    &::placeholder {
      font-size: 12px;
    }
  }
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;

  @include media($laptop) {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    background-color: #45a049;
  }
}

.filterIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: white;
  stroke: white;
  stroke-width: 2;
}


.filterButton {
  &:hover {
    background-color: rgba(63, 148, 95, 1);
  }
}


/* Ошибки */
.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Модальное окно */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

/* Анимация модального окна */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 8px;
}

.activePageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(89, 177, 122, 1);
}

.pageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(231, 241, 237, 1);
}