.dashboard {
  /* padding: 100px 40px 40px 120px; */
}

.grid {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/* Mobile */
@media screen and (min-width: 375px) {
  .grid {
    flex-direction: column;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .grid {
    flex-direction: column;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .grid {
    flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .grid {
    flex-direction: row;
  }
}
