.container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 100px 20px;
  background-color: #f7f8fa;
  position: relative;
}

.leftSide {
  width: 100%;
  margin-right: 0;
  text-align: center;
}

.title {
  margin-top: 60px;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  letter-spacing: 0;
}

.greenText {
  color: #34a853;
}

.pillImage {
  position: static;
  width: 120px;
  height: 117px;
  margin: 40px auto;
}

.rightSide {
  margin-top: 40px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 323px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 13px 18px;
  color: rgba(29, 30, 33, 0.4);
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.button {
  font-family: inherit;
  margin-top: 48px;
  background-color: #59b17a;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.button:hover {
  background-color: #3f945f;
}

.signupLink {
  color: rgba(29, 30, 33, 0.4);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px 150px 40px;
  }

  .title {
    margin-top: 100px;
    font-size: 42px;
    line-height: 48px;
  }

  .pillImage {
    width: 150px;
    height: 147px;
    margin: 60px auto;
  }

  .rightSide {
    margin-top: 60px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding: 0 100px 262px 100px;
  }

  .leftSide {
    width: 614px;
    margin-right: 150px;
    text-align: left;
  }

  .title {
    margin-top: 226px;
    font-size: 54px;
    line-height: 60px;
  }

  .pillImage {
    position: absolute;
    top: 122px;
    left: 516px;
    width: 179px;
    height: 175px;
    margin: 0;
  }

  .rightSide {
    margin-top: 226px;
    width: 323px;
  }

  .form {
    margin: 0;
  }
}
