/* Общий контейнер */
@use '../styles/mixins' as *;

.ordersPage {
     margin: 80px 0 0 0;
    @include media($laptop) {
      margin: 0 0 0 20px;
    }
  
    @include media($desktop) {
      margin: 0 0 0 20px;
    }
}

/* Фильтр */
.filterContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  // width: 100%;
  // width: 70%;
  gap: 16px;
  @include media($tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    // width: auto;
    // margin-left: auto;
  }

  .searchWrapper {
    display: flex;
    // gap: 10px;
    // width: 100%;

    @include media($laptop) {
      width: auto;
    }
  }

  .openModalButton {
    // width: 100%;
    justify-content: center;
    border: 1px solid #59B17A80;
    background: transparent;
    color: #1D1E21
    ;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
vertical-align: middle;
  padding: 13px 30px;
  border-radius: 60px;
  cursor: pointer;

    &:hover {
      background-color: rgba(63, 148, 95, 1);
    }
  
    @include media($laptop) {
      // width: auto;
      // margin-left: auto;
    }
  }
}

.filterInput {
  padding: 0px 18px;
  margin-right: 8px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 215px;
  height: 44px; // добавляем фиксированную высоту
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
  font-size: 12px;
  line-height: 44px; 
  
  &::placeholder {
    color: rgba(29, 30, 33, 0.4);
    font-weight: 400;

    letter-spacing: 0px;
  }
  
  &:focus {
    outline: none;
    border-color: rgba(89, 177, 122, 1);
  }

  @include media($laptop) {
    width: auto;
    &::placeholder {
      font-size: 12px;
    }
  }
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
font-weight: 500;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
@include media($laptop) {
  font-size: 14px;
  line-height: 18px;
}

  &:hover {
    background-color: #45a049;
  }
}

.filterIcon {
  width: 16px; // немного увеличиваем размер
  height: 16px;
  margin-right: 8px;
  fill: none;
  stroke: #ffffff;
}


.filterButton {
  &:hover {
    background-color: rgba(63, 148, 95, 1);
  }
}



/* Ошибки */
.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Пагинация */
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 8px;
}

.activePageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(89, 177, 122, 1);
}

.pageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(231, 241, 237, 1);
}