@use '../styles/mixins' as *;

.productsPage {
    margin: 80px 0 0 0;
    @include media($laptop) {
      margin: 0 0 0 20px;
    }
  
    @include media($desktop) {
      margin: 0 0 0 20px;
    }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 18px;
  
  @include media($tablet) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }
  

  .searchWrapper {
    display: flex;

    @include media($laptop) {
      width: auto;
    }
  }
}

.filterInput {
  padding: 0px 18px;
  margin-right: 8px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 215px;
  height: 44px;
  box-shadow: 0px -1px 5px 0px rgba(71, 71, 71, 0.05);
  font-size: 12px;
  line-height: 44px;
  
  &::placeholder {
    color: rgba(29, 30, 33, 0.4);
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &:focus {
    outline: none;
    border-color: rgba(89, 177, 122, 1);
  }

  @include media($laptop) {
    width: auto;
    &::placeholder {
      font-size: 12px;
    }
  }
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 13px 30px;
  background-color: rgba(89, 177, 122, 1);
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;

  @include media($laptop) {
    font-size: 14px;
    line-height: 18px;
  }

  &:hover {
    background-color: #45a049;
  }
}

.filterIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: white;
}

.containerButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: 8px;
  width: 42px;
  height: 42px;
  background-color: rgba(89, 177, 122, 1);

  &:hover {
    background-color: rgba(63, 148, 95, 1);
  }
}

.filterButton {
  &:hover {
    background-color: rgba(63, 148, 95, 1);
  }
}
.iconAdd {
  width: 16px;
  height: 16px;
  fill: white;
}

.textAdd {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 8px;
}

.activePageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(89, 177, 122, 1);
}

.pageButton {
  border: none;
  padding: 3.56px;
  width: 11.88px;
  height: 11.88px;
  border-radius: 50%;
  background-color: rgba(231, 241, 237, 1);
}