* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: #7a272f;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f8fa;
}

.app {
  padding: 20px 20px 20px 20px;
}

/* Mobile */
@media screen and (min-width: 375px) {
  .app {
    padding: 20px 20px 20px 20px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .app {
    max-width: 768px;
    padding: 20px 32px 32px 32px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .app {
    max-width: 1024px;
    padding: 100px 40px 40px 100px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .app {
    max-width: 1440px;
    padding: 100px 40px 40px 100px;
  }
}

